<nav id="siteMap">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>ברוכים הבאים</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>מכללת סלע, מרכז ההדרכה האיכותי והמוביל לתעשיית המחשבים בישראל, הינה זרוע ההדרכה של קבוצת סלע. המכללה מציעה קורסי הייטק למקצועני מחשב, הסמכות לימודי מחשב למעוניינים בקריירה בתחומי המיחשוב, כנסים בינלאומיים עם מיטב המומחים מהעולם וימי עיון להעשרה מקצועית.</p>
            </div>
            <div class="col-lg-4">
                <p>
                    סגל המרצים במכללה נמנה עם בכירי התעשייה בארץ. סגל המרצים מורכב ממרצים בעלי מוניטין ונסיון עשיר בפתוח פרויקטים, ביעוץ, בהובלה ובניהול של מאמצי פיתוח מהמורכבים והמתקדמים בארץ.
                    לסלע מעל 150 כותרים בתחומים מקצועיים רבים ומגוונים, אשר פותחו על ידי המרצים של סלע ועל סמך ניסיונם בתעשייה.
                </p>
            </div>
        </div>
    </div>
</nav>
