<link href="~/Content/ProductList.css" rel="stylesheet">

@model List<eShopProject.Models.ProductView>
@{
    ViewBag.Title = "Main";
}

<!-- Header -->
@Html.Partial("~/Views/Home/_Header.cshtml")

<!-- Site map -->
@Html.Partial("~/Views/Home/_SiteMap.cshtml")

<!-- Body content -->
<nav class="body-content" id="mainPage">



    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>
                    רשימת המוצרים
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-lg-2">
                <!-- Controls -->
                <div class="hidden-xs">
                    <a class="fa fa-chevron-right btn btn-success" href="#carousel-example"
                       data-slide="prev" onclick="updatePageNumber()"></a>
                    <b>עמוד <span class="num">1</span></b>
                    <a class="fa fa-chevron-left btn btn-success" href="#carousel-example"
                       data-slide="next" onclick="updatePageNumber()"></a>
                </div>
            </div>
            <div class="col-md-3 col-lg-3">
                    @using (Ajax.BeginForm("ProductList", "Home", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "products", OnComplete = "updatePageNumber()" }))
                    {
                        <b>מיין לפי</b>
                        <div class="btn-group btn-group-sm">
                            <input type="submit" class="btn btn-success" value="כותרת" name="ButtonType"/>
                            <input type="submit" class="btn btn-success" value="תאריך" name="ButtonType"/>
                            <input type="submit" class="btn btn-success" value="מחיר" name="ButtonType" />
                        </div>
                    }
            </div>
        </div>


        <br /><br /><br />
        <div class="row" style="direction: ltr;">

            <div id="carousel-example" class="carousel slide hidden-xs" data-ride="carousel" data-interval="false" data-wrap="false">

                @*here the list of products*@
                <div id="products">
                    @Html.Partial("_ProductList", Model)
                </div>

            </div>
        </div>
    </div>

</nav>

<script>
    function updatePageNumber() {
        
        setTimeout(function () {
            var currentIndex = $('div.active').index() + 1;
            $('.num').html(currentIndex);
        }, 800);

        
    }
    $('.addToList').click(function (e) {

        $("#itemsList-" + event.target.id).submit();
        // Cancel the default action
        e.preventDefault();
    });
</script>
