
@{
    ViewBag.Title = "Main";
}

<!-- Header -->
@Html.Partial("~/Views/Home/Header.cshtml")

<!-- Site map -->
@Html.Partial("~/Views/Home/SiteMap.cshtml")

<!-- Body content -->
<nav class="body-content" id="mainPage">
    <div class="row">
        <div class="col-xs-6"><div class="mini-box">1</div></div>
        <div class="col-xs-6"><div class="mini-box">2</div></div>

    </div>
</nav>
