
@{
    ViewBag.Title = "PurchaseComplete";
}
<div class="container" id="PurchaseComplete">
    <h2>תודה שקנית אצלנו!</h2>
    <br />
    <br />
    <br />
    <br />
    @Html.ActionLink("לעמוד הראשי", "Main", new { }, new { @class = "btn btn-info" })

</div>

