body {
   padding:0px;
}

[type="date"] {
  background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
}
[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

input[type=date] {
  border: 1px solid #c4c4c4;
  padding: 5px 12px;
  width: 181px;
  color: #555555;
}

#mainPage {
    padding-top: 10px;
}

.heb-text {
    direction: rtl;
}

.login-name {
    color: white;
}

.input-group input{
    background-color: #3D6C96;
}

.body-content {
    height: 600px;
    background-color: gray;
}

#ShoppingCard{
    margin-top: 150px;
    min-height: 400px;
}

#productInfo {
    margin-top: 150px;
    height: 70vh;
}

#addProduct{
    margin-top: 150px;
    height: 550px
}

#registration{
    margin-top: 150px;
    height: 70vh;
}

#siteMap {
    height: 600px;
    background-color: #2F4F4F;
}

.partial {
    text-align: right;
}

.right {
    position: absolute;
    right: 0px;
}

.header {
    /* The image used */
    background-image: url("/Images/header-background.jpg");
    /* Set a specific height */
    height: 620px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* make sidebar nav vertical */ 
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

