@*Single product view*@
@model  eShopProject.Models.ProductView

<div class="col-sm-3">
    <div class="col-item">
        <div class="photo">
            <div style="height: 220px; overflow: hidden;">
                <img class="" src="@Url.Action("ShowImage", "Images", new { id = Model.Id, imageNumber = 1 })" alt="" />
            </div>
        </div>
        <div class="info">
            <div class="row">
                <div class="price col-md-6">
                    <h5 style="height: 40px">
                        @Model.Title
                    </h5>
                    <h5 class="price-text-color">
                        $@Model.Price
                    </h5>
                </div>

            </div>

           
            <form action="/Home/AddToCard?id=@Model.Id" data-ajax="true" data-ajax-method="POST" data-ajax-mode="replace" data-ajax-update="#b-@Model.Id" id="itemsList-b-@Model.Id" method="post">
                @*this button is not invoked directly but by pressing on AddToCard*@
                <input type="submit" style="visibility:hidden" />
            </form>

            <div class="separator clear-left">
                <p class="btn-add">
                    <i class="fa fa-shopping-cart"></i>
                    @if (Session["ShoppingCard"] != null && ((List<eShopProject.Models.ProductView>)Session["ShoppingCard"]).Exists(p => p.Id == Model.Id))
                    {
                        <a class="hidden-sm addToList" href=""><span id="b-@Model.Id">הסר מהסל</span></a>
                    }
                    else
                    {
                        <a class="hidden-sm addToList" href=""><span id="b-@Model.Id">הוסף לסל</span></a>
                    }
                </p>
                <p class="btn-details">
                    <i class="fa fa-list"></i>
                    @Html.ActionLink("פרטים נוספים", "ProductInfo", new { id = Model.Id }, new { @class = "hidden-sm" })
                </p>
            </div>
            <div class="clearfix">
            </div>
        </div>
    </div>
</div>


