@model eShopProject.Models.UserView

<div class="fluid-container">
    <div class="row">
        @if (Model != null)
        {
            <form>
                <div class="col-lg-10 col-xs-10">
                    <div class="input-group input-group-sm">
                        <input type="email" class="form-control" id="email" placeholder="שם">
                        <input type="password" class="form-control" id="pwd" placeholder="סיסמא">
                    </div>
                </div>
                <div class="col-lg-2 col-xs-2">
                    <div class="btn-group-vertical btn-group-sm col-lg-offset-1">
                        <button type="submit" class="btn btn-info">היכנס</button>
                        <button type="submit" class="btn btn-info">רישום</button>
                    </div>
                </div>
            </form>
        }
        else
        {
            <h1>אתה מחובר</h1>
        }

    </div>
</div>