@model eShopProject.Models.LoginView

<div class="fluid-container">
    <div class="row">
        @if (!User.Identity.IsAuthenticated)
        {
            using (Html.BeginForm("Login", "Account"))
            {
                <div class="col-lg-12">
                    <table>
                        <tr>
                            <th>
                                <div class="input-group input-group-sm">
                                    @Html.TextBoxFor(m => m.Username, new { @class = "form-control", placeholder = "שם משתמש" })
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "סיסמה" })
                                </div>

                            </th>
                            <th>
                                <div class="btn-group-vertical btn-group-sm col-lg-offset-1">
                                    <input type="submit" value="היכנס" class="btn btn-info" />
                                    <button type="submit" class="btn btn-info" onclick="location.href = '@Url.Action("Registration","Account")'">רישום</button>
                                </div>

                            </th>
                        </tr>
                    </table>

              
                    </div>
            }
        }
        else
        {
            using (Html.BeginForm("LogOff", "Account"))
            {

            <div class="col-lg-12 col-xs-12 heb-text login-name">
                @*Display greeting*@
                @if (DateTime.Now.Hour <12)
                {
                    @:בוקר טוב,
                }
                else if (DateTime.Now.Hour < 17)
                {
                    @:צהריים טובים,
                }
                else
                {
                    @:ערב טוב,
                }
                &nbsp @User.Identity.Name
                <br/>
                <input type="submit" value="התנתק" class="btn btn-info" />
            </div>
            }
        }

    </div>
</div>