@model  eShopProject.Models.Product
@*Single product view*@
<div class="item">
    <div id="ProductName"> @Model.Title</div>
    <img src="@Model.ImageUrl" style="height:300px; width: auto;">
    <div id="ProductPrice">Price: $@Model.Price</div>
</div>
